<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Navigation</mat-toolbar>
    <mat-nav-list>
      <!--- ITEMS GO HERE --->
      <a (click)="showCurrently = 'Dashboard'" mat-list-item routerLink="/showDashboard">Übersicht</a>
      <a (click)="showCurrently = 'Presets'"mat-list-item routerLink="/showPresets">Vorlagen</a>
      <a (click)="showCurrently = 'Einzelne Zeiten'"mat-list-item routerLink="/showSingle">Einzelne Übersicht</a>
      <a (click)="showCurrently = 'Einstellungen'"mat-list-item routerLink="/settings">Einstellungen</a>
      <!--- ITEMS GO HERE --->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{showCurrently}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
